platformdirs
cartopy
cmocean
configobj
gsw
ipython
jupyter_client
matplotlib-base
numba
owslib
pandas
pip
scipy
xarray>=0.17
sphinx
sphinx-autosummary-accessors
sphinx-book-theme
sphinx-argparse
sphinxcontrib-programoutput
sphinx-gallery


