platformdirs
cartopy
cmocean
configobj
gsw
ipython
jupyter_client
matplotlib-base
numba
owslib
pandas
pip
scipy
xarray>=2024.6
sphinx
sphinx-autosummary-accessors
sphinx-book-theme
sphinx-argparse
sphinxcontrib-programoutput
sphinx-gallery


